@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-muted: var(--muted);
  --font-display: var(--font-jakarta);
}

:root {
  /* Light Mode Values */
  --background: #f7f8f6;
  --foreground: #25282b;
  --primary: #65a338;
  --primary-foreground: #ffffff;
  --muted: #636669;
}

/* If you use 'next-themes' (standard for shadcn), 
   it toggles a .dark class on the html element 
*/
.dark {
  --background: #181e14;
  --foreground: #f3f4f6;
  --primary: #65a338;
  --primary-foreground: #ffffff;
  --muted: #9ca3af;
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-display);
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .soft-shadow {
    box-shadow: 0 4px 20px -2px rgba(37, 40, 43, 0.05);
  }
}
